ENDPOINT=https://api.devnet.solana.com
WS_ENDPOINT=wss://api.devnet.solana.com
ENV=devnet

RUNNING_LOCAL=true
LOCAL_CACHE=true
ELASTICACHE_HOST=localhost
ELASTICACHE_PORT=6379
REDIS_CLIENT=DLOB

USE_WEBSOCKET=true
USE_ORDER_SUBSCRIBER=true
METRICS_PORT=9464

PERP_MARKETS_TO_LOAD=0
SPOT_MARKETS_TO_LOAD=0
